.order-tracking-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.pizza-animation {
  font-size: 4rem;
  animation: spinPizza 2s linear infinite; /* Dönen animasyon */
}

@keyframes spinPizza {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
