.back-button {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 10px;
  padding: 15px;
  transition: transform 0.3s ease-in-out;
}

.back-button img {
  width: 7px;
}

.back-button:hover {
  transform: scale(1.3);
}

.auth-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
}

.auth-header-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  color: var(--font-2);
}

@media screen and (min-width: 768px) {
  .auth-header-title {
    font-size: 32px;
  }

  .back-button img {
    width: 10px;
  }
}
